/* Reset */
html, body, div, span, h1, h2, p, figure, figcaption, table, th, td, blockquote, a, em, img, b, i, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

/* Fonts */
@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSerif-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NotoSerif-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/NotoSerif-Italic.ttf) format('truetype');
}

/* Font selection */
p, blockquote, li {
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: 400;
}

p.date, em {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 400;
}

h1, h2, b {
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: 700;
}


/* Colors */
body {
    background-color: #f6f5e9;
    background-image: linear-gradient(to bottom right, #f6f5e9, #faf8fa);
    background-repeat: no-repeat;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, th, td {
    color: #111827;
}

p, blockquote, li {
    color: #374151;
}

a {
    color: #111827;
}

img.contrast-border {
    border-radius: 0.5em;
    border: 1px solid grey;
}

/* Responsiveness */
@media only screen and (max-width: 680px) {
    div#content {
        width: 90%;
        padding: 0 5%;
        font-size: 83.333%;
    }
}

@media only screen and (min-width: 681px) {
    div#content {
        width: 38em;
    }
}

/* Layout */
div#content {
    margin: 5em auto 4em;
}

h1 {
    line-height: 1.5em;
    font-size: 1.5em;
}

h1.dateless {
    margin-bottom: 1em;
}

p.date {
    margin-bottom: 1.5em;
}

h2 {
    line-height: 1.5em;
    font-size: 1.1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

p, figure {
    line-height: 1.75em;
    font-size: 1.125rem;
    margin-bottom: 1em;
}

blockquote {
    line-height: 1.75em;
    margin-bottom: 1em;
    padding: 0.2em 0.75em;
    font-style: italic;
    font-size: 1.125rem;
    border-left: 4px solid #e5e7eb;
    color: #111827;
}

sup {
    vertical-align: top;
    position: relative;
    top: -0.4em;
    font-size: 0.8em;
}

ul {
    margin-bottom: 1em;
    padding-left: 1.4em;
    list-style-type: square;
}

ul.index {
    margin: 2em 0;
    list-style: none;
    padding-left: 0;
}

span.index-date {
    color: grey;
    padding-right: 0.5em;
}

li {
    line-height: 1.75em;
    font-size: 1.125rem;
    list-style-position: outside;
    margin-bottom: 1em;
}

img {
    margin-bottom: 1em;
    width: 100%;
}

p.name-header, p.name-header a {
    color: grey;
}

p.name-header {
    margin-bottom: 3em;
}

p.social-footer, p.social-footer a {
    color: grey;
}

.social-footer-link {
    color: grey;
}

p.social-footer {
    margin-top: 1em;
    margin-bottom: 2em;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-image {
    max-width: 100%;
    width: 640px;
}

.error-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
    font-size: 16px;
    line-height: 1.5;
    color: #37352f;
    caret-color: #37352f;
}

.notion-text-block {
    overflow-wrap: break-word;
}