/* Reset */
html, body, div, span, h1, h2, p, figure, figcaption, table, th, td, blockquote, a, em, img, b, i, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

/* Fonts */
@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSerif-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NotoSerif-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/NotoSerif-Italic.ttf) format('truetype');
}

/* Font selection */
p, blockquote, li {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}

p.date, em {
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
}

h1, h2, h3, b {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
}


/* Colors */
body {
    background-color: #f6f5e9;
    background-image: linear-gradient(to bottom right, #f6f5e9, #faf8fa);
    background-repeat: no-repeat;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1, h2, th, td {
    color: #111827;
}

p, blockquote, li {
    color: #3d3d3d;
}

a {
    color: #111827;
}

img.contrast-border {
    border-radius: 0.5em;
    border: 1px solid grey;
}

/* Responsiveness */
@media only screen and (max-width: 680px) {
    div#content {
        width: 90%;
        padding: 0 5%;
        font-size: 83.333%;
    }
}

@media only screen and (min-width: 681px) {
    div#content {
        width: 38em;
    }
}

/* Layout */
div#content {
    margin: 5em auto 4em;
}

h1 {
    line-height: 1.3;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
}

h1.dateless {
    margin-bottom: 1em;
}

p.date {
    margin-bottom: 1.5em;
}

h2 {
    line-height: 1.3;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    line-height: 1.3;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-top: 1.2em;
    margin-bottom: 0.4em;
    color: #111827;
}

p, figure {
    line-height: 1.55;
    font-size: 15px;
    margin-bottom: 1em;
}

blockquote {
    line-height: 1.55;
    margin-bottom: 1em;
    padding: 0.2em 0.75em;
    font-style: italic;
    font-size: 15px;
    border-left: 4px solid #e5e7eb;
    color: #111827;
}

sup {
    vertical-align: top;
    position: relative;
    top: -0.4em;
    font-size: 0.8em;
}

ul, ol {
    margin-bottom: 1em;
    padding-left: 1.4em;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

li {
    line-height: 1.55;
    font-size: 15px;
    list-style-position: outside;
    margin-bottom: 0.25em;
}

img {
    margin-bottom: 1em;
    width: 100%;
}

p.name-header, p.name-header a {
    color: grey;
}

p.name-header {
    margin-bottom: 3em;
}

p.social-footer, p.social-footer a {
    color: grey;
}

.social-footer-link {
    color: grey;
}

p.social-footer {
    margin-top: 1em;
    margin-bottom: 2em;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-image {
    max-width: 100%;
    width: 640px;
}

.error-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vmin;
    font-size: 16px;
    line-height: 1.5;
    color: #37352f;
    caret-color: #37352f;
}

.notion-text-block {
    overflow-wrap: break-word;
}
